.audioplayer{ 
    position:fixed;
    bottom:10px;
    width: 70%;
    display:block;
    z-index: 10000;
    left:0;
    right: 0;
    margin: 0 auto;
    border-radius: 10px;
    height: 80px;
    background: red;
}

.audioplayer > .container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.audio-player-public-main {
    position: fixed;
    bottom: 10px;
    width: 100%;
    margin: auto;
    z-index: 100;
    display: none;
}
.audio-player-public>.audio-player-close {
    position: absolute;

    border-radius: 50%;
    height: 23px;
    width: 21px;
    padding: 1px 1px;
    right: 8px;
    top: 4px;
    color: white;

    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
    z-index: 99;
}

.property .play-poi-btn {
    background: #fff none repeat scroll 0 0;
    border-radius: 100%;
    border-width: 0;
    color: #db4424;
    font-size: 30px;
    height: 70px;
    left: 50%;
    line-height: 70px;
    position: absolute;
    text-align: center;
    top: 57%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70px;
    z-index: 9;
}

.property .play-poi-btn:focus {
    outline: 0;
}
.property .play-poi-btn:focus-visible {
    outline: 0;
}

.anticon > i{
font-size: 18px;
    color: gray;
}
